@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

body {
    font-family: 'Nerko One', cursive;
}


.header-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.header-overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: #303952;
    z-index: 1;
    opacity: .85;
}

.header-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.header-overlay-img {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: #303952;
    z-index: 1;
    opacity: .45;
}

.footer-copyright {
    font-size: 25px;
    padding: 0px auto 20px auto;
    /* margin-bottom: 20px; */
}

.opacidad {
    background-color: rgba(255, 255, 255, 0.808);
}

.info {
    font-size: 23px;
}

.content {
    font-size: 20px;
}

#body_kinder {
    background: url('../img/fondo_kinder.jpeg') no-repeat center/cover;
    color: #000;

}

#body_secundaria {
    background: url('../img/fondo_secundaria.jpeg') no-repeat center/cover;
    color: #000;
}

#body_primaria {
    background: url('../img/fondo_secundaria.jpeg') no-repeat center/cover;
    color: #000;
}

.body_plat_apps {
    background: url('../img/fondo_plat_apps.jpeg') no-repeat center/cover;
    color: #000;
}

.temas:hover {
    cursor: pointer;
    transition: all 0.4s ease;
}

.info_temas {
    display: none;
}
